<div class="mr-3">
    <h3 class="h4"><%= @agent.full_name%></h3>
    <p><%= @agent.company%></p>

    <button class="btn btn-info">CALL </button>
    <button class="btn btn-success">Email Agent</button>
</div>
