<% @properties.each do |property|%>
        <div class="col-sm-4">
            <%= link_to(property_thumbnail(property), property_path(property))%>
            <h3><%= property.name %></h3>
            <p><%= property.rooms%></p>
            <h6><%= property.address%></h6>
            <div class="ammenities">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
<% end %>
